shared/asterisk/conf/conf.mine/*
!shared/asterisk/conf/conf.mine/README.md
shared/web-server/content/*
!shared/web-server/content/README.md
shared/web-server/audio-server-api/config.json
shared/web-server/audio-server-application/config.js
keys/*
!keys/README.md
